<!--start of navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Beasto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!--end of navbar-->


<div class="container">
  <div class="row justify-content-center p-3">
    <h1>CRUD APP</h1>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Enter Employee Name">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" [(ngModel)]="employeeAge" placeholder="Enter Employee Age">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="employeeAdress" placeholder="Enter Employee Address">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="CreateRecord()" [disabled]="!employeeName || !employeeAge || !employeeAdress" >Create Employee </button>
  </div>
  <div class="form-group">
    <h4><b>{{message}}</b></h4>
  </div>

  <div class="row p-2">
    <div class="col-md-4" *ngFor="let item of employee">
      <div class="card" *ngIf="!item.isEdit; else elseBlock">
        <div class="card-body">
          <div class="card-title">
            Name: {{ item.name }}
          </div>
          <div class="card-subtitle">
            Age: {{ item.age }}
          </div>
          <div class="card-text">
            Adress: {{ item.Adress }}
          </div>
          <br>
          <span>
            <a href="#" (click)="EditRecord(item)" class="btn btn-success">Edit</a>
            <a href="#"  (click)="Deleteemployee(item.id)" class="btn btn-danger">Delete</a>
          </span>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Edit Employee
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-md-12">
                  <input type="text" [(ngModel)]="item.editname" class="form-control">
                </div>
                <div class="col-md-12">
                  <input type="number" [(ngModel)]="item.editage" class="form-control">
                </div>
                <div class="col-md-12">
                  <input type="text" [(ngModel)]="item.editAdress"  class="form-control">
                </div>
              </div>
              <span>
                <a href="#" class="btn btn-danger" (click)="item.isEdit = false">Cancel</a>
                <a href="#" class="btn btn-warning" (click)="Updaterecord(item)">Update</a>
              </span>
            </div>
            <br>
          </div>
        </div>

      </ng-template>

    </div>
  </div>
</div>
